{{ template "base" . }}
{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the Contact page.</h1>
                <p>CONTACT DETAILS AND FORM HERE</p>
            </div>
        </div>
    </div>
{{ end }}